:root{
  --cor-fundo: #c8ccd5;
  --cor-destaque: #9532c3;
  --cor-texto: #26295a;
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

strong{
  color: var(--cor-destaque);
}

a{
  background-color: var(--cor-destaque);
  color: var(--cor-texto);
  padding: 15px 40px;
  margin: 10px 5px;
}
